---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
/* import BlogPost from '../components/BlogPost.astro';
import Article from '../components/Article.astro'; */
export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md');
  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
const { frontmatter, Content } = Astro.props.post;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Header text='Home' link='/' />
  <section class='page-content mx-auto pt-20'>
    <div class='container'>
      <article
        class='prose lg:prose-xl prose-h1:text-white prose-h1:first-letter:text-red prose-img:rounded-md prose-a:text-warning prose-a:decoration-wavy bg-secondary p-6'
      >
        <h1>{frontmatter.title}</h1>
        <img src={frontmatter.img} alt='' class='rounded-md' />
        <div class='text-bases text-xs'>
          Escrito por <strong
            >{frontmatter.author} el {frontmatter.pubDate}</strong
          >
        </div>
        <span class='text-white'>
          <Content />
        </span>
      </article>
    </div>
  </section>
</Layout>
