---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../posts/*.md');
---

<Layout
  title='Bienvenid@ a CoffeeSoul'
  description='Alessandro Blog | CoffeeSoul | Toastador'
>
  <Header />
  <main class='mx-auto p-5 max-w-[850px]'>
    <ul class='space-y-4'>
      {
        allPosts.map(post => (
          <BlogPost>
            <img src={post.frontmatter.img} />
            <div class='text-bases text-xs  font-semibold tracking-widest p-6 space-y-4'>
              <h2 class='text-3xl font-semibold'>{post.frontmatter.title}</h2>
              <p class='text-base'>
                Edited by
                <strong>
                  {post.frontmatter.author} el {post.frontmatter.pubDate}
                </strong>
              </p>
              <p class='text-base'>{post.frontmatter.excerpt}</p>
              <a class='btn btn-xs' href={`/${post.frontmatter.slug}`}>
                Read More
              </a>
            </div>
          </BlogPost>
        ))
      }
    </ul>
  </main>
  <Footer />
</Layout>
