---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../posts/*.md');
---

<Layout title='Welcome to CoffeeSoul'>
  <Header />
  <main class='mx-auto p-5 max-w-[850px]'>
    <ul class='space-y-4'>
      {
        allPosts.map(post => (
          <BlogPost>
            <img
              class='min-w-[240px] max-h-[160px] rounded-lg'
              src={post.frontmatter.img}
            />
            <h2 class='text-3xl font-bold'>{post.frontmatter.title}</h2>
            <div>
              Escrito por{' '}
              <strong>
                {post.frontmatter.author} el {post.frontmatter.pubDate}
              </strong>
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <a class='btn' href={`/${post.frontmatter.slug}`}>
              Read More
            </a>
          </BlogPost>
        ))
      }
    </ul>
  </main>
</Layout>
