---
export interface Props {
  title?: string;
  text?: string;
  img?: string;
  imageAlt?: string;
  pubDate?: string;
}
const { title, img, imageAlt, text, pubDate } = Astro.props as Props;
---

<!-- <li><a href={url}>{title}</a></li> -->
<div
  class='max-w-md mx-auto border shadow-lg overflow-hidden bg-secondary rounded-lg'
>
  <slot />

  <img src={img} alt={imageAlt} class='mx-auto' />
  <div class='p-6'>
    <!-- <h2 class='text-3xl font-bold'>{title}</h2>
    <p class='text-sm max-w-md'>{pubDate}</p>
    <p class='text-lg max-w-md'>{text}</p> -->
  </div>
</div>
